<div class="col-lg-3 col-md-6 mb-4">
  <div class="card h-100">
    <img class="card-img-top" src="http://placehold.it/500x325" alt="">
    <div class="card-body">
      <h4 class="card-title">Cape Town Showdown 7</h4>
      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.</p>
    </div>
    <div class="card-footer">
      <a href="#" class="btn btn-primary">Find Out More!</a>
    </div>
  </div>
</div>


<div class="col-lg-3 col-md-6 mb-4">
  <div class="card h-100" data-id='<%= article.id %>'>
    <%= image_tag article_img(article_item.thumb_image.url, 'thumb'), width: '100%' %>
    <div class="card-body">
      <h4 class="card-title"><%= article.title %></h4>
      <p class="card-text">
        <%= article.body %>
      </p>
    </div>
    <div class="card-footer">
      <span><%= link_to 'Find Out More!', article_show_path(article), class: 'btn btn-primary' %></span>
    </div>
  </div>
</div>
