<div class="container article-container">
  <div class="row">
    <div class="col-md-12">
      <%= image_tag @article.main_image.url, width: '100%' %>
    </div>
  </div>
  <div class="row"></div>
    <div class="col-md-12">
      <h1>
        <%= @article.title %>
        <small>
          <% if policy(@article).update? %>
            <%= link_to fa_icon('pencil'), edit_article_path(@article), :style=>'color:#FFFFFF;' %>
            <%= link_to fa_icon('trash'), @article, method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
        </small>
      </h1>

      <nav class="breadcrumb">
        <%= link_to 'Home', root_path, class: 'breadcrumb-item' %>
        <%= link_to 'News', articles_path, class: 'breadcrumb-item' %>
        <%= link_to @article.topic.title, topic_path(@topic), class: 'breadcrumb-item' %>

        <span class="breadcrumb-item active"><%= @article.title %></span>

      </nav>

      <p><%= markdown @article.body %></p>
    </div>
  </div>
</div>
