<div class="container article-container">
  <div class="row">
    <div class="col-md-12">
      <%= image_tag @article.main_image.url, width: '100%' %>
    </div>
  </div>
  <div class="row"></div>
    <div class="col-md-12">
      <h1><%= @article.title %></h1>

      <nav class="breadcrumb">
        <%= link_to 'Home', root_path, class: 'breadcrumb-item' %>
        <%= link_to 'Articles', articles_path, class: 'breadcrumb-item' %>

        <span class="breadcrumb-item active"><%= @article.title %></span>

      </nav>

      <p><%= markdown @article.body %></p>
    </div>
  </div>
</div>
