<div class="container">
  <h1>Local Players</h1>

  <hr>

  <div class="row">
    <% @users.order('username ASC').each do |user| %>
    <div class="col-md-6">
      <div class="card user-card">
        <p>Username: <%= user.username %></p>
        <% if user.steamid != '' %>
          <p>Steam ID: <%= link_to user.steamid, user.steamid, target: :_blank %></p>
        <% end %>
        <% if user.psnid != '' %>
          <p>PSN ID: <%= link_to user.psnid %></p>
        <% end %>
        <% if user.gamertag != '' %>
          <p>Xbox Gamertag: <%= user.gamertag %></p>
        <% end %>
        <% if user.switchfc != '' %>
          <p>Switch FC: <%= user.switchfc %></p>
        <% end %>
      </div>
      <br>
    </div>
    <% end %>
  </div>
</div>



