<p id="notice"><%= notice %></p>


  <div class="card">
    <p>Username: <%= @user.username %></p>
    <% if @user.steamid != '' %>
      <p>Steam ID: <%= @user.steamid %></p>
    <% end %>
    <% if @user.psnid != '' %>
      <p>PSN ID: <%= @user.psnid %></p>
    <% end %>
    <% if @user.gamertag != '' %>
      <p>Xbox Gamertag: <%= @user.gamertag %></p>
    <% end %>

  </div>


<%= link_to 'Back', users_admin_index_path %>