<div class="row">
  <div class="col-md-2">
    <div class="p-alt2">
      <p><%= link_to match.game.title, game_path(match.game_id) unless match.game_id == nil %></p>
    </div>
  </div>

  <div class="col-md-2">
    <% if match.p1_name != nil %>
      <div class="p-alt">
        <p><%= link_to match.p1_name, matches_path(P1: match.p1_name) %><p>
      </div>
    <% else %>
      Unknown Player
    <% end %>
  </div>

  <div class="col-md-1">
    <% if match.p1_character != nil %>
      <div class="avatar">
        <%= image_tag(match.p1_character, size: 64) %>
      </div>
    <% else %>
      Unknown Character
    <% end %>
  </div>

  <div class="col-md-1">
    <div class="p-alt">
      <p>vs</p>
    </div>
  </div>

  <div class="col-md-1">
    <% if match.p2_character != nil %>
      <div class="avatar">
        <%= image_tag(match.p2_character, size: 64) 
        %>
      </div>
    <% else %>
      Unknown Character
    <% end %>
  </div>

  <div class="col-md-2">
    <% if match.p2_name != nil %>
    <div class="p-alt">
      <p><%= link_to match.p2_name, matches_path(P1: match.p2_name) %><p>
    </div>
    <% else %>
      Unknown Player
    <% end %>
  </div>

  <div class="col-md-3">
    <div class="p-alt3">
      <%= link_to fa_icon('play'), match.link, target: :_blank %>
      <% if policy(match).update? %>
        <%= link_to fa_icon('pencil'), edit_match_path(match) %>
        <%= link_to fa_icon('trash'), match, method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
    </div>
  </div>
</div>

<hr>