<div class="container">
  <% if policy(@games).new? %>
    <%= link_to fa_icon('gamepad'), new_game_path %>
    <hr>
  <% end %>

  
    <% @games.each_with_index do |game, i| %>
      <% if i%2 == 0 %>
        <div class="row">
      <% end %> 

      <div class="col-md-6">

        <div class="d-none d-xl-block">
          <div class="card">
            <%= link_to game, class: 'image_link' do %>
              <%= image_tag game.cover_image, class: 'card-img-top img-fluid' %>

              <div class="image_icon">
                <% if policy(game).update? %>
                  <%= link_to fa_icon('pencil'), edit_game_path(game) %>
                  <%= link_to fa_icon('trash'), game, method: :delete, data: { confirm: 'Are you sure?' } %>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>

        <div class="d-none d-block d-xl-none">
          <div class="card img-fluid" style="height:190px">
            <%= link_to game, class: 'image_link' do %>
              <%= image_tag game.cover_image, class: 'style_image_mobile' %>
              <div class="card-img-overlay image_text" >
                <h4 class="card-title"><%= game.title %></h4>
                <br>

              </div>

              <div class="image_icon_mobile">
                <% if policy(game).update? %>
                  <%= link_to fa_icon('pencil'), edit_game_path(game) %>
                  <%= link_to fa_icon('trash'), game, method: :delete, data: { confirm: 'Are you sure?' } %>
                <% end %>
              </div>
            <% end %>
          </div>
          <br>
        </div>

      <br>
      <br>

      </div>

      <br>
      <% if i%2 != 0 %>
        </div>
      <% end %>
    <% end %>
  
</div>





