<div class="container">
  <% if policy(@games).new? %>
    <%= link_to fa_icon('gamepad'), new_game_path %>
    <hr>
  <% end %>

  <div class="row">
    <% @games.each do |game| %>

      <div class="col-md-6">

        <div class="d-none d-xl-block">
          <div class="card img-fluid" style="width:500px">
            <%= link_to game, class: 'image_link' do %>
              <%= image_tag game.cover_image, class: 'style_image' %>
              <div class="card-img-overlay image_text" style="width:500px">
                <h4 class="card-title"><%= game.title %></h4>
                <p class="card-text"><%= game.description %></p>
                <br>

              </div>

              <div class="image_icon">
                <% if policy(game).update? %>
                  <%= link_to fa_icon('pencil'), edit_game_path(game) %>
                  <%= link_to fa_icon('trash'), game, method: :delete, data: { confirm: 'Are you sure?' } %>
                <% end %>
              </div>
            <% end %>
          </div>

        </div>

        <div class="d-none d-block d-xl-none">
          <div class="card img-fluid" style="height:190px">
            <%= link_to game, class: 'image_link' do %>
              <%= image_tag game.cover_image, class: 'style_image_mobile' %>
              <div class="card-img-overlay image_text" >
                <h4 class="card-title"><%= game.title %></h4>
                <br>

              </div>

              <div class="image_icon_mobile">
                <% if policy(game).update? %>
                  <%= link_to fa_icon('pencil'), edit_game_path(game) %>
                  <%= link_to fa_icon('trash'), game, method: :delete, data: { confirm: 'Are you sure?' } %>
                <% end %>
              </div>
            <% end %>
          </div>
          <br>
        </div>



      </div>

      <br>


    <% end %>
  </div>
</div>





