<div class="card img-fluid" style="width:1400px">
  <img class="card-img-top d-none d-xl-block" src=<%= @game.cover_image %> alt="Card image" style="height:100%">
  <div class="card-img-overlay">
    <div class="card-text">
      <h4 class="card-title"><%= @game.title %></h4>
      <p class="d-none d-xl-block"><%= @game.description %></p>
    </div>  
    <p><a href="#" class="btn btn-secondary">Resources</a></p>
    <p><%= link_to 'Local Matches', matches_path(game_query: @game.id), class: 'btn btn-secondary' %></p>
    <p><a href="#" class="btn btn-secondary">Events</a></p>
    <br>
    <br>
    <br>
    <h4>Recent Matches</h4>
    <hr>
    <div class="card matches-card d-none d-lg-block">
      <% @recent_vods.each do |match| %>
        <%= render partial: 'shared/matches_desktop', locals: { match: match } %>
      <% end %>
    </div>

    <div class="card matches-card d-none d-block d-lg-none">
      <% @recent_vods.each do |match| %>
        <%= render partial: 'shared/matches_mobile', locals: { match: match } %>
      <% end %>
    </div>
  </div>
</div>


