<h4>Characters</h4>
<hr>
<%= link_to fa_icon("plus"), new_character_path %>
<br>
<br>
<div class="row">
  
  <% Character.order('title ASC').each do |character| %>
    <div class="col-md-1">
      <%= link_to character.title, character_path(character) %>
    </div>
    <div class="col-md-1">
      <div class="avatar">
        <%= image_tag(character.icon, size: 64) %>
      </div>
    </div>
    
    <div class="col-md-2">
      <% if policy(character).update? %>
        <%= link_to fa_icon('pencil'), edit_character_path(character), :style=>'color:#FFFFFF;' %>
        <%= link_to fa_icon('trash'), character, method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
    </div>
    <br>
    <br>
    <br>
  <% end %>
  
</div>