<p id="notice"><%= notice %></p>

<h1><%= @P1user %></h1>

<%= link_to 'New Player', new_player_path %>

<div class="card">

    <% @players.each do |player| %>
      <% player.matches.each do |match| %>
        <div class="row">
          <div class="col-md-3">
            <p><%= link_to match.game.title, games_path(match.game_id) %></p>
          </div>
          <div class="col-md-2">
            <% if match.player_ids[0] != nil %>
              <%= link_to match.players[0].username, players_path(P1: match.players[0].username ) %>
            <% else %>
              Unknown Player
            <% end %>
          </div>

          <div class="col-md-1">
            vs.
          </div>

          <div class="col-md-2">
            <% if match.player_ids[1] != nil %>
              <%= link_to match.players[1].username, players_path(P1: match.players[1].username) %>
            <% else %>
              Unknown Player
            <% end %>
          </div>

          <div class="col-md-2">
          </div>

          <div class="col-md-2">
            <p><%= link_to fa_icon('play'), match.link %></p>
          </div>
        </div>
      <hr>
      <% end %>
    <% end %>

</div>



