<%= form_with(model: match, local: true) do |form| %>
  <% if match.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(match.errors.count, "error") %> prohibited this match from being saved:</h2>

      <ul>
      <% match.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= link_to 'How to link vods with timestamps', faq_path, target: :_blank, class: 'btn btn-dark' %>
  </div>

  <div class="form-group">
    <%= form.label :link %>
    <%= form.text_field :link, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :game_id %>
    <%= form.collection_select(:game_id, Game.all, :id, :title,
                                {
                                  selected: match.game_id,
                                  include_blank: true
                                },
                                class: 'form-control'
                              )
    %>
  </div>

  <div class="form-group">

    <% Player.all.order('username ASC').each do |player| %>
      <%= hidden_field_tag "match[player_ids][]", nil %>
      <%= check_box_tag "match[player_ids][]", player.id, @match.player_ids.include?(player.id), id: dom_id(player) %>
      <%= label_tag dom_id(player), player.username %><br>

    <% end %>

  </div>

  <div class="form-group">
    <%= form.submit 'Submit', class: 'form-control' %>
  </div>
<% end %>
