<%= form_with(model: match, local: true) do |form| %>
  <% if match.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(match.errors.count, "error") %> prohibited this match from being saved:</h2>

      <ul>
      <% match.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :link %>
    <%= form.text_field :link %>
  </div>

  <div class="form-group">
    <%= form.label :game_id %>
    <%= form.collection_select(:game_id, Game.all, :id, :title,
                                {
                                  selected: match.game_id,
                                  include_blank: true
                                },
                                class: 'form-control'
                              )
    %>
  </div>

  <div class="form-group">
    <%= form.label :player_1 %>
    <%= form.collection_select(:player_1, User.all, :username, :username) %>
  </div>

  <div class="form-group">
    <%= form.label :player_2 %>
    <%= form.collection_select(:player_2, User.all, :username, :username) %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
