<div class="container">
  <h1>Matches</h1>

  <%= link_to 'New Match', new_match_path %>

  <hr>

  <nav class="breadcrumb">

  </nav>

  <div class="card">
    <% @matches.each do |match| %>
      <div class="row">
        <div class="col-md-3">
          <p><%= link_to match.game.title, games_path(match.game_id) %></p>
        </div>

        <div class="col-md-2">
        </div>

        <div class="col-md-2">
          <p>vs</p>
        </div>

        <div class="col-md-1">
        </div>

        <div class="col-md-2">

        </div>

        <div class="col-md-2">
          <p><%= link_to fa_icon('play'), match.link %></p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-1">
          <p><%= link_to 'Show', match %></p>
        </div>

        <div class="col-md-1">
          <p><%= link_to 'Edit', edit_match_path(match) %></p>
        </div>

        <div class="col-md-1">
          <p><%= link_to 'Destroy', match, method: :delete, data: { confirm: 'Are you sure?' } %></p>
        </div>
        <div class="col-md-9"></div>
      </div>

      <hr>

    <% end %>
  </div>

  </div>

  <br>



</div>
