<%= link_to 'New Match', new_match_path %>

<hr>

<nav class="breadcrumb">
  <%= link_to 'Match Database', matches_path, class: 'breadcrumb-item' %>
  <span class="breadcrumb-item active">Matches</span>
  <span class="ml-auto">
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Player 1
      </a>
      <div class="dropdown-menu scrollable-menu" aria-labelledby="navbarDropdownMenuLink">
        <% Player.order('username ASC').each do |player| %>
          <%= link_to player.username, players_path(P1: player.username ), class: "dropdown-item" %>
        <% end %>
      </div>
    </li>
  </span>
  <span class="ml-auto">
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Player 1
      </a>
      <div class="dropdown-menu scrollable-menu" aria-labelledby="navbarDropdownMenuLink">
        <% Player.order('username ASC').each do |player| %>
          <%= link_to player.username, players_path(P1: player.username ), class: "dropdown-item" %>
        <% end %>
      </div>
    </li>
  </span>
</nav>

<div class="card">
  <% @matches.all.each do |match| %>
    <div class="row">
      <div class="col-md-3">
        <p><%= link_to match.game.title, game_path(match.game_id) %></p>
      </div>

      <div class="col-md-2">
        <% if match.player_ids[0] != nil %>
          <%= link_to match.players[0].username, players_path(P1: match.players[0].username ) %>
        <% else %>
          Unknown Player
        <% end %>
      </div>

      <div class="col-md-1">
        <p>vs</p>
      </div>

      <div class="col-md-2">
        <% if match.player_ids[1] != nil %>
          <%= link_to match.players[1].username, players_path(P1: match.players[1].username) %>
        <% else %>
          Unknown Player
        <% end %>
      </div>

      <div class="col-md-2">

      </div>

      <div class="col-md-2">
        <p><%= link_to fa_icon('play'), match.link %></p>
      </div>
    </div>

     <div class="row">
      <div class="col-md-1">
        <p><%= link_to 'Show', match %></p>
      </div>

      <div class="col-md-1">
        <p><%= link_to 'Edit', edit_match_path(match) %></p>
      </div>

      <div class="col-md-1">
        <p><%= link_to 'Destroy', match, method: :delete, data: { confirm: 'Are you sure?' } %></p>
      </div>

      <div class="col-md-9"></div>

    </div>

    <hr>

  <% end %>
</div>






