<p id="notice"><%= notice %></p>

<h1>Matches</h1>


    <% @matches.each do |match| %>
        <p><%= match.link %></p>
        <p><%= match.game.title %></p>
        <p><%= link_to 'Show', match %></p>
        <p><%= link_to 'Edit', edit_match_path(match) %></p>
        <p><%= link_to 'Destroy', match, method: :delete, data: { confirm: 'Are you sure?' } %></p>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Match', new_match_path %>
